.header { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: black;
}

.header__left {
    flex: 0.3;
    min-width: 10rem;
    color: black;
    padding: 8px;
    display: flex;
    align-items: center;
}

.header__left > input {
    border: none;
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin-left: 10px;
    margin-right: 10px;
}